.vc-element-icon.el_google_map {
    background-image: url(img/google_map.png);
}
.vc-element-icon.el_pricing_table {
    background-image: url(img/table_money.png);
}
.vc-element-icon.el_testimonial {
    background-image: url(img/document_quote.png);
}
.vc-element-icon.el_staff {
    background-image: url(img/vcard.png);
}
.vc-element-icon.el_image_box {
    background-image: url(img/picture.png);
}
.vc-element-icon.el_icon_box {
    background-image: url(img/application_view_icons.png);
}
.vc-element-icon.el_teaser {
    background-image: url(img/application_view_tile.png);
}
.vc-element-icon.el_hero_title {
    background-image: url(img/align_middle.png);
}
.vc-element-icon.el_posts_loop {
    background-image: url(img/blogs.png);
}
.vc-element-icon.el_welcome {
    background-image: url(img/emotion_hand_flower.png);
}
.vc-element-icon.el_social {
    background-image: url(img/globe_place.png);
}